:root{
     --brand-color: #cf6b0e;
     --gray-color: #242424;
}

.card{
     display: flex;
     flex-direction: column;
     width: 300px;
     background-color: var(--gray-color);
     color: #fff;
     border-radius: 10px;
     padding:20px;
     gap:25px; 
}

.product-name{
     text-align: center;
     font-size: 1.5rem;
}

.description{
     font-size: 0.8rem;
}

.card-footer{
     display:flex;
     justify-content: space-between;
     /* background-color: blue; */
}

.price{
     font-size: 1.4rem;
     font-weight: bold;
}

.buy-button{
     padding: 5px 20px;
     border: none;
     border-radius: 5px;
     background-color: var(--brand-color);
     color: #fff;
     font-weight: bold;
}