:root{
     --brand-color: #cf6b0e;
     --background-color: #1f1f1f;
}

.nav{
     width: 100%;
     height: 10dvh;
     background-color: var(--background-color);
     display: flex;
     position: fixed;
     top: 0;
     align-items: center;
     justify-content: space-between;
     padding: 0 50px;
}

.logo{
     height: 60%;
}

.nav-list{
     display: flex;
     list-style: none;
     gap: 20px;
}

.nav-list a{
     text-decoration: none;
     color: #fff;
     transition: 200ms;
}

/* CTA SECTION */

.cta-section, .cta-section-mobile{
     display: flex;
     gap: 20px;
}

.cta-button{
     background-color: var(--brand-color);
     border: none;
     padding: 10px 20px;
     border-radius: 10px;
     color: #fff;
     font-weight: 600;
     transition: 200ms;
     cursor: pointer;
}

.cta-image{
     width: 35px;
}

.burguer-menu{
     display: none;
     flex-direction: column;
     gap: 5px;
     cursor: pointer;
}

.burguer-menu span{
     width: 25px;
     height: 3px;
     background-color: white;
     border-radius: 2px;
}

/* MOBILE MODAL */
 
.modal-mobile{
     display: none;
     position: fixed;
     top: 10dvh;
     left: 0;
     background-color: var(--background-color);
     width: 100%;
}

.modal-mobile ul{
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.modal-mobile ul li a{
     text-decoration: none;
     color: #fff;
     font-weight: bold;
}

.modal-mobile span{
     width: 100%;
     height: 1px;
     background-color: #bdbdbd;
}

.aberto{
     display: none;
     flex-direction: column;
     padding: 20px;
     gap: 20px;
}

.cta-section-mobile .cta-button{
     width: 100%;
}

/* HOVERS */

.nav-list a:hover{
     color: var(--brand-color);
}

.cta-button:hover{
     scale: 1.03;
}

@media (max-width: 768px){
     .nav-list, .cta-section{
          display: none;
     }

     .burguer-menu{
          display: flex;
     }

     .mobile-menu{
          display: flex;
     }

     .aberto{
          display: flex;
     }
}